@import url('https://fonts.googleapis.com/css?family=Quicksand');

@font-face{
	font-family: 'Quicksand';
	
	src: url('/static/fonts/fontawesome-webfont.woff') format('webfont');
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
	body {
		font-size: 8pt;
		padding: 10px;
	}
	.home {
		font-size: 14pt;
		line-height: 30px;
	}
	.navbtn {
		width: 34px!important;
		height: 30px!important;
		background-color: transparent;
		color: #008DCB;
	}
	.fa-bars,
	.fa-times {
		font-size: large!important;
	}
	.top-nav-links {
		display: none;
	}
	#mobile-nav-links-wrapper {
		display: none;
		justify-content: center;
		margin-left: -18px;
		margin-right: -18px;
		background-color: #008DCB;
		margin-top: 15px;
	}
	.mobile-nav-links-subwrapper {
		display: flex;
		justify-content: center;
	}
	.mobile-nav-links {
		list-style: none;
		/*display: none;*/
		padding: 20px 20px 20px 40px;
	}
	.mobile-nav-links > li {
		margin-bottom: 20px;
	}
	.mobile-nav-links > li > a {
		text-decoration: none;
		color: #FFF;
		font-weight: bold;
		font-size: 10pt;
	}
	.mobile-nav-links > li > a:hover,
	.mobile-nav-links > li > a:active,
	.mobile-nav-links > li > a:focus {
		text-decoration: none;
		color: #eee;
	}
	.midtop {
		margin-top: 30px!important;
	}
	.tagline-wrapper {
		margin-top: 20px;
	}
	.quarter-button {
		width: 50%!important;
	}
	.center {
		text-align: center;
	}
	.featured_wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.featured {
		margin: 0px 0px 10px 0px;
	}
	.meetup_card_wrapper {
		padding-bottom: 20px;
		border-bottom: none;
	}
	.meetup_card {
		width: 100%;
		margin-bottom: 15px;
	}
	.smallpadd {
		padding: 10px 0px 10px 0px;
		border-radius: 5px;
	}
	.nopadd {
		padding: 0px!important;
	}
	.down {
		font-size: 14pt;
		margin-bottom: 40px;
	}
	#signupform, #signinform, #meetupform {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	input[type=text],
	input[type=date],
	input[type=time],
	input[type=email],
	input[type=tel],
	input[type=file],
	input[type=password] {
		width: auto;
		font-size: 8pt;
	}
	.dialog-box {
		padding: 5px 10px 5px 10px;
	}
	.dialog-message {
		white-space: normal;
		text-align: center;
	}
	.flex {
		display: flex;
		flex-direction: column!important;
	}
	.auto {
		width: auto!important;
		height: auto!important;
	}
	.row-actions {
		flex-direction: row!important;
		justify-content: space-between!important;
		line-height: 38px;
	}
	.admin-actions {
		justify-content: start!important;
		flex-direction: row-reverse!important;
		width: 100%!important;
	}
	.nomarg {
		margin: 0px!important;
	}
	.q-full-width {
		width: 100%!important;
	}
	.auto-width {
		width: auto!important;
		margin: 10px 45px 0px 0px!important;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		font-size: 8pt;
		padding: 10px;
	}
	.home {
		font-size: 14pt;
		line-height: 30px;
	}
	.navbtn {
		width: 34px!important;
		height: 30px!important;
		background-color: transparent;
		color: #008DCB;
	}
	.fa-bars,
	.fa-times {
		font-size: large!important;
	}
	.top-nav-links {
		display: none;
	}
	#mobile-nav-links-wrapper {
		display: none;
		justify-content: center;
		margin-left: -18px;
		margin-right: -18px;
		background-color: #008DCB;
		margin-top: 15px;
	}
	.mobile-nav-links-subwrapper {
		display: flex;
		justify-content: center;
	}
	.mobile-nav-links {
		list-style: none;
		/*display: none;*/
		padding: 20px 20px 20px 40px;
	}
	.mobile-nav-links > li {
		margin-bottom: 20px;
	}
	.mobile-nav-links > li > a {
		text-decoration: none;
		color: #FFF;
		font-weight: bold;
		font-size: 10pt;
	}
	.mobile-nav-links > li > a:hover,
	.mobile-nav-links > li > a:active,
	.mobile-nav-links > li > a:focus {
		text-decoration: none;
		color: #eee;
	}
	.midtop {
		margin-top: 30px!important;
	}
	.tagline-wrapper {
		margin-top: 20px;
	}
	.quarter-button {
		width: 50%!important;
	}
	.center {
		text-align: center;
	}
	.featured_wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.featured {
		margin: 0px 0px 10px 0px;
	}
	.meetup_card_wrapper {
		padding-bottom: 20px;
		border-bottom: none;
	}
	.meetup_card {
		width: 100%;
		margin-bottom: 15px;
	}
	.smallpadd {
		padding: 10px 0px 10px 0px;
		border-radius: 5px;
	}
	.nopadd {
		padding: 0px!important;
	}
	.down {
		font-size: 14pt;
		margin-bottom: 40px;
	}
	#signupform, #signinform, #meetupform {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	input[type=text],
	input[type=date],
	input[type=time],
	input[type=email],
	input[type=tel],
	input[type=file],
	input[type=password] {
		width: auto;
		font-size: 8pt;
	}
	.dialog-box {
		padding: 5px 10px 5px 10px;
	}
	.dialog-message {
		white-space: normal;
		text-align: center;
	}
	.flex {
		display: flex;
		flex-direction: column!important;
	}
	.auto {
		width: auto!important;
		height: auto!important;
	}
	.row-actions {
		flex-direction: row!important;
		justify-content: space-between!important;
		line-height: 38px;
	}
	.admin-actions {
		justify-content: start!important;
		flex-direction: row-reverse!important;
		width: 100%!important;
	}
	.nomarg {
		margin: 0px!important;
	}
	.q-full-width {
		width: 100%!important;
	}
	.auto-width {
		width: auto!important;
		margin: 10px 45px 0px 0px!important;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	body {
		font-size: 8pt;
		padding: 10px;
	}
	.home {
		font-size: 14pt;
		line-height: 30px;
	}
	.navbtn {
		width: 34px!important;
		height: 30px!important;
		background-color: transparent;
		color: #008DCB;
	}
	.fa-bars,
	.fa-times {
		font-size: large!important;
	}
	.top-nav-links {
		display: none;
	}
	#mobile-nav-links-wrapper {
		display: none;
		justify-content: center;
		margin-left: -18px;
		margin-right: -18px;
		background-color: #008DCB;
		margin-top: 15px;
	}
	.mobile-nav-links-subwrapper {
		display: flex;
		justify-content: center;
	}
	.mobile-nav-links {
		list-style: none;
		/*display: none;*/
		padding: 20px 20px 20px 40px;
	}
	.mobile-nav-links > li {
		margin-bottom: 20px;
	}
	.mobile-nav-links > li > a {
		text-decoration: none;
		color: #FFF;
		font-weight: bold;
		font-size: 10pt;
	}
	.mobile-nav-links > li > a:hover,
	.mobile-nav-links > li > a:active,
	.mobile-nav-links > li > a:focus {
		text-decoration: none;
		color: #eee;
	}
	.midtop {
		margin-top: 30px!important;
	}
	.tagline-wrapper {
		margin-top: 20px;
	}
	.quarter-button {
		width: 50%!important;
	}
	.center {
		text-align: center;
	}
	.featured_wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.featured {
		margin: 0px 0px 10px 0px;
	}
	.meetup_card_wrapper {
		padding-bottom: 20px;
		border-bottom: none;
	}
	.meetup_card {
		width: 100%;
		margin-bottom: 15px;
	}
	.smallpadd {
		padding: 10px 0px 10px 0px;
		border-radius: 5px;
	}
	.nopadd {
		padding: 0px!important;
	}
	.down {
		font-size: 14pt;
		margin-bottom: 40px;
	}
	#signupform, #signinform, #meetupform {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	input[type=text],
	input[type=date],
	input[type=time],
	input[type=email],
	input[type=tel],
	input[type=file],
	input[type=password] {
		width: auto;
		font-size: 8pt;
	}
	.dialog-box {
		padding: 5px 10px 5px 10px;
	}
	.dialog-message {
		white-space: normal;
		text-align: center;
	}
	.flex {
		display: flex;
		flex-direction: column!important;
	}
	.auto {
		width: auto!important;
		height: auto!important;
	}
	.row-actions {
		flex-direction: row!important;
		justify-content: space-between!important;
		line-height: 38px;
	}
	.admin-actions {
		justify-content: start!important;
		flex-direction: row-reverse!important;
		width: 100%!important;
	}
	.nomarg {
		margin: 0px!important;
	}
	.q-full-width {
		width: 80%!important;
	}
	.auto-width {
		width: auto!important;
		margin: 10px 45px 0px 0px!important;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	body {
		font-size: 10pt;
		padding-left: 20px;
		padding-right: 20px;
	}
	.home {
		font-size: 20pt;
		line-height: 50px;
	}
	.navbtn {
		display: none;
	}
	.top-nav-links {
		list-style: none;
		display: flex;
	}
	#mobile-nav-links-wrapper {
		display: none;
	}
	.quarter-button {
		width: 15%!important;
	}
	.center {
		text-align: center;
	}
	.featured_wrapper {
		display: flex;
		justify-content: space-between;
	}
	.featured {
		margin: 10px 30px 10px 30px;
	}
	.meetup_card_wrapper {
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
	}
	.meetup_card {
		width: 450px;
		height: 100px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	.smallpadd {
		padding: 10px;
	}
	.down {
		display: none;
	}
	#signupform, #signinform, #meetupform {
		width: 320px;
		text-align: center;
	}
	input[type=text],
	input[type=date],
	input[type=time],
	input[type=email],
	input[type=tel],
	input[type=file],
	input[type=password] {
		width: 305px;
	}
	.action_up {
		font-size: 12pt;
	}
	.action_down {
		font-size: 28pt;
	}
	.dialog-box {
		padding: 5px 20px 5px 50px;
	}
	.dialog-message {
		white-space: nowrap;
		margin-right: 50px;
	}
	.meetup_cover_comment {
		width: 550px!important;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	body {
		font-size: 10pt;
		padding-left: 20px;
		padding-right: 20px;
	}
	.home {
		font-size: 20pt;
		line-height: 50px;
	}
	.navbtn {
		display: none;
	}
	.top-nav-links {
		list-style: none;
		display: flex;
	}
	#mobile-nav-links-wrapper {
		display: none;
	}
	.quarter-button {
		width: 15%!important;
	}
	.center {
		text-align: center;
	}
	.featured_wrapper {
		display: flex;
		justify-content: space-between;
	}
	.featured {
		margin: 10px 30px 10px 30px;
	}
	.meetup_card_wrapper {
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
	}
	.meetup_card {
		width: 450px;
		height: 100px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	.smallpadd {
		padding: 10px;
	}
	.down {
		display: none;
	}
	#signupform, #signinform, #meetupform {
		width: 320px;
		text-align: center;
	}
	input[type=text],
	input[type=date],
	input[type=time],
	input[type=email],
	input[type=tel],
	input[type=file],
	input[type=password] {
		width: 305px;
	}
	.action_up {
		font-size: 12pt;
	}
	.action_down {
		font-size: 28pt;
	}
	.dialog-box {
		padding: 5px 20px 5px 50px;
	}
	.dialog-message {
		white-space: nowrap;
		margin-right: 50px;
	}
	.meetup_cover_comment {
		width: 550px!important;
	}

}

/*Common styles*/
* {
	outline: none!important;
}
a {
	outline: none;
	text-decoration: none;
	color: inherit;
}
body {
	font-family: 'Quicksand', 'sans-serif';
	/*color: #333;*/
	color: #555;
}
nav {
	display: flex;
	justify-content: space-between;
}

.home > a {
	text-decoration: none;
	color: #008DCB;
	font-weight: bold;
}
.top-nav-links > li {
	margin-left: 20px;
}
.top-nav-links > li > a {
	text-decoration: none;
	color: #008DCB;
	font-weight: bold;
}
.top-nav-links > li > a:hover,
.top-nav-links > li > a:active,
.top-nav-links > li > a:focus {
	text-decoration: none;
	color: #777;
}
.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.mrgn {
	margin: 10px;
}
.feed {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.action_up, .action_down {
	margin-right: 10px;
}
.actions {
	display: flex;
	line-height: 18px;
	/*line-height: 38px;*/
	text-decoration: none;
	color: inherit;
}
.profile-actions {
	display: flex;
	line-height: 18px;
	text-decoration: none;
	color: inherit;
}
.votes {
	margin-left: 40px;
	font-weight: bold;
}
.notop {
	margin-top: 0!important;
}
.hastop {
	margin-top: 50px;
	margin-bottom: 20px;
}
.smalltop {
	margin-top: 20px;
}
.noleft {
	margin-left: 0!important;
}
.nobottom {
	margin-bottom: 0!important;
}
.smallbottom {
	margin-bottom: 20px!important;
}
.autoheight {
	height: auto!important;
}
footer > p {
	text-align: center;
}

input[type=text],
input[type=date],
input[type=time],
input[type=email],
input[type=tel],
input[type=file],
input[type=password] {
	height: 25px;
	margin-bottom: 15px;
}
input[type=submit],
button {
	height: 34px;
	width: 100%;
	background-color: #008DCB;
	border-color: transparent;
	border-radius: 5px;
	color: #FFF;
}
input[name=tags] {
	/*width: 450px;*/
	height: 25px;
}
.form-wrapper {
	width: 320px;
	background-color: #eee;
	padding: 20px;
	/*margin-top: 50px;*/
	border-radius: 15px;
}


.meetup_card_details {
	width: 80%;
	height: 100%;
	/*background-color: #eee;*/
	background-color: #F1F1F2;
}
.noback {
	background-color: transparent!important;
	width: 100%!important;
}
.meetup_card_actions {
	width: 20%;
	height: 100%;
}
#upvote, #downvote {
	font-size: 8pt;
}
.comments {
	/*display: flex;*/
}
.rsvp,
.question-form-toggler,
.question-list-toggler,
.hide-comments-toggler {
	font-size: 8pt;
	padding: 10px;
	color: #008DCB;
}
.question-list-toggler,
.question-form-toggler,
.hide-comments-toggler {
	margin-left: 20px;
}
.rsvp:hover,
.rsvp:focus,
.question-form-toggler:hover,
.question-form-toggler:focus,
.question-list-toggler:hover,
.question-list-toggler:focus,
.hide-comments-toggler:hover,
.hide-comments-toggler:focus {
	background-color: #eee;
	border-radius: 5px;
}
#question-form {
	display: flex;
	flex-direction: column;
}

textarea {
	padding: 10px;
	resize: none;
	overflow-y: auto;
}
form > textarea {
	margin-bottom: 10px;
}
.question-form-wrapper,
.images-form-wrapper,
.tags-form-wrapper {
	margin-top: 10px;
	display: none;
}
.images-form-wrapper {
	display: none;
}
.admin_meetup_list {
	margin-top: 40px;
}
.form-header {
	display: flex;
	margin-bottom: 20px;
	line-height: 19px;
}
.form-header2 {
	font-weight: bold;
	margin-left: 10px;
	font-size: 12pt;
}
.form-header-login {
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 20px;
}
.remember-wrapper {
	display: flex;
	height: 18px;
	margin-bottom: 15px;
	line-height: 22px;
	font-size: 8pt;
}
.forgot-password {
	margin-left: 20px;
	color: #008DCB;
}
.delete-action {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-left: 10px;
}
.dialog-box {
	background-color: #008DCB;
	border-radius: 5px;
	color: #FFF;
}
.close {
	float: right;
	margin-top: 5px;
}

.question_card_wrapper {
	padding: 10px;
	/*font-size: 8pt;*/
}
.question-header {
	display: flex;
	justify-content: space-between;
}
.meetup-topic {
	font-weight: bold;
}
.question-body {
	margin: 10px;
	padding: 10px;
}
.question-creator {
	float: right;
}
.question-date,
.question-creator {
	font-size: 8pt;
}
.bold {
	font-weight: bold;
}
.avatar {
	width: 155px;
	height: 155px;
	background-color: #ddd;
	margin: 10px;
}
.meetup_cover {
	width: 600px;
	height: 300px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.meetup_card_cover {
	width: 100%;
	height: 100%;
	border: 2px solid #eee;
}
.meetup_detail_desc {
	border-bottom: 2px solid #eee;
	height: 120px;
	margin-bottom: 10px;
}
.highlight {
	color: #008DCB;
}
.noborder {
	border: none!important;
}
.smallleft {
	padding-left: 20px;
}
.smallestleft {
	padding-left: 10px;
}


.organizer,
.date,
.duration,
.location,
.reserved {
	font-size: 8pt;
	margin-top: 5px;
}
.smallfont {
	/*font-size: 8pt;*/
}
.tagline-wrapper {
	width: auto!important;
	height: auto!important;
	flex-direction: column!important;
	text-align: center;
}
.fullwidth {
	width: 100%!important;
}
.fa-thumbs-up,
.fa-thumbs-down {
	font-size: 12pt!important;
	margin-right: 5px;
}
